*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilo global */
body {
    background-color: #ffffff; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* estilo do cabeçalho */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    background-color:  #97DBFF;
  }
  
  .logo {
    width: 100px;
  }
  
  .logo img {
    width: 100%;
    height: auto;
  }
  
  .login-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #fff;
    color:  #97DBFF;
    cursor: pointer;
    border-radius: 5px;
  }

  .login-btn:hover{
    background-color: #49a0cf;
    color: #fff;
  }
  

    /* estilo do main */
  .banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
  }

    .banner1 {
      width: 100%;
      height: 350px;
      background-image: url(../images/img1.png);
      background-repeat: no-repeat;
      background-size: contain;
    }

    .banner2 {
      width: 100%;
      height: 350px;
      background-image: url(../images/img1.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
    
    .banner img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .icon-row {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
    
    .icon {
      display: flex;
      align-items: center;
      margin: 0 20px;
    }
    
    .icon img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
    
    .icon p {
      font-size: 18px;
      font-weight: bold;
    }

  /* Estilos do rodapé */
  footer {
    display: flex;
    justify-content: space-between;
    background-color: #97DBFF; 
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  footer p {
    margin: 10px 10px;
    font-size: 14px;
    color: #ffffff; 
  }    